<!DOCTYPE html>
{% extends "account/base.html" %}
{% block title %}パスワード変更{% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

<ul class="bread-list">
    <li>Home</li>
    <li>パスワード変更</li>
</ul>

<div class="page-info">
    <p>現在のバスワードを入れ、任意の新パスワードを入力してください。パスワードには「大文字・小文字・数字が必要です」</p>
</div>

<div class="form-wrapper">
    <form class="form-main" action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
        <div class="form-label">
            {{ field.label}}
        </div>
        {{ field }}
        <div class="form-error">
            {{ field.errors }}
        </div>
        {% endfor %}

        <div>
            {% if user.email == 'RIWBtest9@gmail.com' %}
            <button disabled type="submit" class="form-button">送信</button>
            {% else %}
            <button type="submit" class="form-button">送信</button>
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}