<!DOCTYPE html>
{% extends "account/base.html" %}
{% block title %}ユーザー情報閲覧{% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

<ul class="bread-list">
    <li>Home</li>
    <li>ユーザー情報閲覧</li>
</ul>

<div class="page-info">
    <p>現在のユーザー情報です。</p>
</div>

<div class="user-table">
    <table class="stripe-table">
        <tbody>
            <tr>
                <th>登録メールアドレス</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>姓</th>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <th>名</th>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <th>職業</th>
                <td>{{ user.get_job_display }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}