<!DOCTYPE html>
{% extends "account/base.html" %}
{% block title %}ユーザー登録{% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

<ul class="bread-list">
    <li>Top</li>
    <li>ユーザー新規登録</li>
</ul>

<div class="form-wrapper">
    <form class="form-main" action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="form-label">
                {{ field.label}}
            </div>
            {{ field }}
            <div class="form-error">
                {{ field.errors }}
            </div>
        {% endfor %}
        <div>
            <button type="submit" class="form-button">ログイン</button>
        </div>
    </form>

    <div class="form-sub">
        <div class="form-info">
            <a href="{% url 'account:login' %}">登録済みの方</a>
        </div>
    </div>
</div>

<!-- <script src="{% static '/account/js/user_create.js' %}"></script> -->

{% endblock %}