<!DOCTYPE html>
{% extends "study/base.html" %}
{% block title %}ジャンル詳細{% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

<ul class="bread-list">
    <li>Home</li>
    <li>{{genre.name}}</li>
</ul>

<div class="study-top">
    <h1>動画一覧（{{genre.name}}）</h1>
</div>

<div class="text-list">
    <!-- 外部キー参照による教材の一覧取得 -->
    {% for text in text_list %}
    <div class="item-list">

        <div class="item-img">
            <img src="{{ text.thumbnail.url }}">
        </div>

        <div class="item-info">
            <a class="item-title" href="{% url 'study:text_detail' text.pk %}">{{ text.title }}</a>
            <p class="item-exp">{{ text.description }}</p>
        </div>

    </div>
    {% endfor %}

</div>

<div class="paging">

    <!-- ページング処理の部分 -->
    <!-- 「前へ」の部分 -->
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
    {% endif %}

    <!-- 数字部分 -->
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
        <span>{{ num }}</span>
    {% else %}
        <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    <!-- 「次へ」 の部分 -->
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">次へ</a>
    {% endif %}

</div>

{% endblock %}